// This defines theme-specific variables.
@mixin theme-variables($theme) {
  @if $theme =='light' {
    // Light theme colours.
    --primary-color: #005faf; // Contrast ratio: 4.73:1
  }

  @else if $theme =='dark' {
    // Dark theme colours.
    --primary-color: #005faf; // Contrast ratio: 11.06:1
  }
}

// Apply light theme variables by default.
:root {
  @include theme-variables('light');

  // Use Inter for all text
  --serif-font: var(--sans-serif-font);
}

// Apply dark theme variables when dark theme is explicitly set.
[data-theme='dark'] {
  @include theme-variables('dark');
}

// Apply dark theme variables when user's system prefers dark mode
// and the theme is not explicitly set to light.
@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include theme-variables('dark');
  }
}
